<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GoIt_JS_HW_23-24</title>
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script src="js/template.js"></script>
    <script data-main="js/main.js" src="js/require.js"></script>
</head>
<body>


<script type="text/template" id="wrapper-template">
    <h1>Make your note in list</h1>
    <div class="wrapper">
        <ul class="item-list"></ul>
        <div class="controlls">
            <form>
                <input type="text" class="item-value" placeholder="New to-do item" tabindex="1">
            </form>
            <button class="item-add">Add</button>
        </div>
    </div>
</script>

<script type="text-template" id="list-template">
    <% for (var i = 0; i < data.length; i++) { %>
    <li> <span class="list"><%= data[i] %> </span> <span data-value="<%= data[i] %>" class="item-delete">x</span></li>
    <% }; %>
</script>

</body>
</html>